<main class="container">
  <button mat-stroked-button (click)="addNewLog()" color="accent">
    <mat-icon>add</mat-icon> Add log
  </button>
  <section>
    <mat-nav-list *ngIf="logs$ | async as logs" hideSingleSelectionIndicator>
      <mat-list-item
        *ngFor="let log of logs"
        [routerLink]="['/log', log.runId]"
      >
        <div matListItemTitle *ngIf="log.name">{{ log.name }}</div>
        <div matListItemLine>{{ log.date | date : "MMM d, y, h:mm a" }}</div>
        <div matListItemLine *ngIf="log.time">
          {{ log.time | time }}, {{ log.actual_distance }}km
        </div>
        <div *ngIf="log.goal_distance" matListItemAvatar>
          <mat-progress-spinner
            diameter="40"
            [value]="(log.actual_distance / log.goal_distance) * 100"
          >
          </mat-progress-spinner>
          <span>{{ (log.actual_distance / log.goal_distance) * 100 }}%</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </section>
</main>
